html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============================================
   UNIVERSAL ELEMENTS
   ============================================= */

* {
	box-sizing: border-box;
	text-rendering: optimizelegibility;
}

body {
	background-color: #f2e7e4;
	color: #000;
	margin: 0 3rem;
	font-family: "Jost", serif;
	font-size: 18px;
	line-height: 145%;
}

p {
	font-size: 120%;
}

nav,
main {
	margin: 0 auto;
	position: relative;
	max-width: 100rem;
}

hr {
	border: none;
	height: 1px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 1em 0;
}

.line {
	width: 100%;
	height: 1px;
	display: block;
	border-top: 1px solid #000000;
	margin-bottom: 1.5rem;
}


/*  =============================================
    TYPE
    ============================================= */

a,
p a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000 !important;
	transition: opacity 0.1s;
}

a:hover,
p a:hover {
	opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: 1rem;
	font-weight: 600;
}

section.text p,
section.text blockquote,
section.text ul {
	margin: 1.1em 0;
	max-width: 45rem;
	-webkit-hyphenate-limit-after: 4;
	-webkit-hyphenate-limit-before: 2;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: "onum";
	-ms-font-feature-settings: "onum";
	-webkit-font-feature-settings: "onum";
	font-feature-settings: "onum";
}

section.text>h1 {
	margin-top: 0;
}

section.text h2,
section.courses h2 {
	font-size: 2rem !important;
	font-weight: normal;
	line-height: 120%;
}

section.text p+h2,
section.courses p+h2 {
	margin-top: 1.5em;
}

em,
i {
	font-style: italic;
}

strong {
	font-weight: 600;
}

blockquote {
	text-indent: -0.3em;
}

abbr,
.smcp {
	font-variant-caps: all-small-caps;
	-moz-font-feature-settings: "c2sc", "smcp";
	-ms-font-feature-settings: "c2sc", "smcp";
	-webkit-font-feature-settings: "c2sc", "smcp";
	font-feature-settings: "c2sc", "smcp";
}


/*  =============================================
    HEADER
    ============================================= */

header {
	max-width: 100rem;
	margin: 5rem auto 18rem auto;
	position: relative;
}

header .logo {
	display: block;
	width: 100px;
	height: 100px;
	background: no-repeat center url("../../assets/img/me.jpg");
	background-size: 100px 100px !important;
	border-radius: 100%;
	border-width: 0px !important;
	text-decoration: none;
}

header .logo span {
	display: none !important;
}

#blurb {
	max-width: 100rem;
	margin: 0 auto;
	position: relative;
}

nav {
	margin: 1rem auto 0;
	padding-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.05rem;
}

nav ul li {
	display: inline-block;
	margin-right: 1.5rem;
	padding-bottom: 0;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #000;
	border: 0;
	text-decoration: none;
	padding-bottom: 4px;
}

nav ul li a.active {
	color: blue;
	border-bottom: 1px solid blue;
}

nav ul li a.active:hover {
	border-bottom: 1px solid blue;
}

/*  =============================================
    FOOTER
    ============================================= */

footer {
	margin: 5rem auto 1.5rem;
}

footer .content {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1.5rem 0;
}

footer .copyright {
	font-weight: 300;
}

/*  =============================================
    ALL PAGES
    ============================================= */

.hero {
	margin-bottom: 1.5rem;
}

.hero .content {
	padding-bottom: 1.5rem;
}

.hero .content h1.title,
.projectholder a span.title {
	font-size: 3rem;
	font-weight: normal;
	line-height: 120%;
}

.hero .content h1.title a {
	color: #000;
}

.hero .content h1.title a:hover {
	color: blue;
}

.hero .content p.subtitle,
.projectholder a span.description {
	font-size: 3rem;
	font-weight: normal;
	line-height: 120%;
	color: gray;
}

/*  =============================================
    TEACHING
    ============================================= */

div.projectholder {
	margin: 4rem 0;
}

div.projectholder a {
	display: block;
	color: #fff;
	padding: 6rem 1.5rem;
	margin: 0 auto;
	transition: all 0.6s;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.courseswrapper .hero .content {
	padding-top: 2rem !important;
}

section.courses {
	margin: 0 auto;
}

.item+.item {
	margin-top: 3rem !important;
}

ul.tablelist {
	list-style: none;
	margin: 1.1rem 0 0 0;
	padding: 0;
}

ul.tablelist li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tablelist li p {
	display: none;
	font-size: 100%;
	color: gray;
	margin-top: 0.4rem;
	max-width: 45rem;
}

ul.tablelist li {
	line-height: 145%;
	font-size: 120%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	display: block;
	padding: 0.5rem 0 0.6rem;
}

ul.tablelist li:last-child {
	border-bottom: none;
}

ul.tablelist li span.course {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: baseline;
	-moz-align-items: baseline;
	-ms-align-items: baseline;
	align-items: baseline;
	justify-content: space-between;
}

ul.tablelist li.unfold b::after {
	content: "\25be";
	display: inline-block;
	position: relative;
	margin: 0 0 0 0.25rem;
	color: gray;
	opacity: 0.5;
}

ul.tablelist li.fold b::after {
	content: "\25be";
	display: inline-block;
	position: relative;
	margin: 0 0 0 0.25rem;
	color: blue;
	opacity: 1;
	transform: rotate(180deg);
	top: 2px;
}

ul.tablelist li.unfold,
ul.tablelist li.fold {
	cursor: pointer;
}

ul.tablelist b.label {
	display: block;
}

ul.tablelist em.detail {
	display: none;
	font-size: 18px;
	line-height: 145%;
	font-style: normal;
	color: gray;
	opacity: 0.5;
}

ul.tablelist li.unfold:hover b.label,
ul.tablelist li.unfold:hover em.detail,
ul.tablelist li.unfold:hover b::after,
ul.tablelist li.fold:hover b.label,
ul.tablelist li.fold:hover em.detail,
ul.tablelist li.fold:hover b::after,
ul.tablelist li.fold b.label,
ul.tablelist li.fold em.detail {
	color: blue;
	opacity: 1;
}

ul.tablelist li.unfold b.label a:hover,
ul.tablelist li.unfold b.label:hover,
ul.tablelist li.fold b.label a:hover,
ul.tablelist li.fold b.label:hover {
	color: blue;
}

ul.tablelist li b.label a:after {
	content: '\203A';
	padding-left: 0.25em;
}

/*  =============================================
    MEDIA QUERIES
    ============================================= */

/* @media (min-width: 100rem) {
	.line { width: 4rem; }
	header .content {
		text-align: left;
		display: flex;
		align-items: center;
		}
	section.courses ul.tablelist em.detail { display: block; }
	} */
